/* Reset margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa; 
    font-family: Arial, sans-serif;
}

/* Style for categories container */
#categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 100px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #ffffff;
}

/* Style for category item */
.category {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: #ffffff;
}

.category img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    object-fit: cover;
}

.category h3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    padding: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.category:hover img {
    transform: scale(1.1);
}

.category:hover h3 {
    opacity: 1;
}


h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
    background-color: #b3e5fc;
    padding: 10px;
    border-radius: 8px;
}

/* Style for popup box */
.popup-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 8px;
}

.popup-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.popup-box li {
    padding: 8px;
    background-color: #e0f7fa;
    border-radius: 4px;
    text-align: center;
    word-wrap: break-word;
}
